<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="/shopping" class="flex items-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXzzuZcjn8Ir_Z175x-alZtLnQEJCzPKwlhcpX3vDGnVWv3j_0G7KybfLIb8Q8Ejml79s&usqp=CAU" class="h-8 mr-3" alt="Flowbite Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Breukh Business Computer</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <button routerLink="/user/shopping" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Shopping</button>
        </li>
        <li>
          <button class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page" (click)="logout()">logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="bg-gray-100 h-screen py-8">
  <div class="container mx-auto px-4">
    <h1 class="text-2xl font-semibold mb-4">Shopping Cart</h1>
    <div class="flex flex-col md:flex-row gap-4">
      <div class="md:w-3/4">
        <div class="bg-white rounded-lg shadow-md p-6 mb-4">
          <app-liste></app-liste>

          <div class="relative flex py-5 items-center">
            <div class="flex-grow border-t border-gray-400"></div>
            <span class="flex-shrink mx-4 text-gray-400">Calcul</span>
            <div class="flex-grow border-t border-gray-400"></div>
          </div>

          <div class="flex justify-between mb-2">
            <span>Reduction</span>
            <span class="my-[-15px]">
              <input
                type="number"
                [value]="reduction"
                (change)="updateReduction($event)"
                min="0"
                max="100"
                id="Quantity"
                class="h-10 w-24 rounded border-gray-200 sm:text-sm"
              />
              %
            </span>
          </div>
          <hr class="my-2" />
          <div class="flex justify-between mb-2">
            <span class="font-semibold">Total</span>
            <span class="font-semibold">{{ total }}$</span>
          </div>
          <button
            class="bg-blue-500 text-white py-2 px-4 rounded-lg mt-4 w-full"
            (click)="handleModal()"
          >
            Suivant
          </button>
        </div>
      </div>
      <div class="md:w-1/4">
      <app-products></app-products>
    </div>
    </div>
  </div>
</div>
  <app-facture></app-facture>

